<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apitron.PDF.Kit" version="2.0.47" targetFramework="net48" />
  <package id="CsvHelper" version="27.1.1" targetFramework="net48" />
  <package id="FreeSpire.PDF" version="7.8.9" targetFramework="net48" />
  <package id="GrapeCity.Documents.Common" version="4.2.0.719" targetFramework="net48" />
  <package id="GrapeCity.Documents.Html" version="4.2.0.719" targetFramework="net48" />
  <package id="GrapeCity.Documents.Imaging" version="4.2.0.719" targetFramework="net48" />
  <package id="GrapeCity.Documents.Pdf" version="4.2.0.719" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="PDFsharp" version="1.51.5185-beta" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net48" />
  <package id="QuestPDF" version="2021.10.1" targetFramework="net48" />
  <package id="SkiaSharp" version="2.80.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="ZUGFeRD-csharp" version="6.1.0" targetFramework="net48" />
</packages>